// Adding profile
profiles {
    // CTG general profile
    ctg {
        params{
            account       = null
        }
        process {
            executor      = 'slurm'
            cpus          = { 1 * task.attempt }
            time          = { 10.h * task.attempt }
            scratch       = '/tmp/'
            errorStrategy = 'retry'
            maxRetries    = 1
        }
    }
}

env {
    MYVAR = "true"
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /projects/fs1/'
    runOptions = '--bind /tmp/'
}